<div class="login-page">
  <app-main-layout [maxWidth]="420">
    <div class="login-header">
      <app-typography
        family="secondary"
        size="xl"
        weight="bold"
        color="primary-dark"
      >
        Banca Argentina
      </app-typography>
      <app-typography size="base" color="primary">
        Ingrese sus datos para empezar a operar.
      </app-typography>
    </div>

    <ul class="errors font-primary" *ngIf="errors.length">
      <li *ngFor="let error of errors">{{ error }}</li>
    </ul>

    <form class="login-form" [formGroup]="form" (ngSubmit)="onSubmit()">
      <app-input-outline
        type="email"
        placeholder="Correo"
        [control]="emailControl"
      ></app-input-outline>

      <app-input-outline
        type="password"
        placeholder="Clave"
        [control]="passwordControl"
      ></app-input-outline>

      <app-button-primary type="submit">Ingresar</app-button-primary>
    </form>
  </app-main-layout>
</div>
